module.exports = {
  apps: [
    {
      name: "beresin-express-backend-app",
      script: "dist/index.js",
      env: {
        DB_HOST: "TOBEMODIFIED",
        DB_USER: "TOBEMODIFIED",
        DB_PASSWORD: "TOBEMODIFIED",
        DB_NAME: "TOBEMODIFIED",
        DB_PORT: 5432,
        PORT: 3000,
	JWT_SECRET: "TOBEMODIFIED"
      },
      env: {
        NODE_ENV: "development",
      },
      env_production: {
        NODE_ENV: "production",
      },
    }
  ]
};
